In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# exract table from wikipedia
from pandas.io.html import read_html
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikitables = read_html(page, attrs={"class" : "wikitable"})
print("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 1 wikitables

In [3]:
wikitables[0].head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
wikitables[0].shape

(180, 3)

In [5]:
df = wikitables[0]

In [6]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [7]:
# Get names of indexes for which column Borough has value Not assigned
indexNames = df[ df['Borough'] == 'Not assigned' ].index
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

In [8]:
df.shape

(103, 3)

In [11]:
#compare to shape about to find any duplicated Postal code
df['Postal Code'].unique

<bound method Series.unique of 2      M3A
3      M4A
4      M5A
5      M6A
6      M7A
      ...
160    M8X
165    M4Y
168    M7Y
169    M8Y
178    M8Z
Name: Postal Code, Length: 103, dtype: object>

In [12]:
#check if there is any 'Not assigned' in Neighbourhood colum
df_1= df.query('Neighbourhood == "Not assigned"')

In [13]:
df_1.shape

(0, 3)

In [14]:
df.shape

(103, 3)